{% extends 'index.html' %}

{% block upload %}


<div class="container" id="myrow">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="uploadimg" href="#upload-image">Upload Image</a>
        </li>
      </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="upload-image" role="tabpanel" aria-labelledby="Uploading..."></div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12">
                <form action="#" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" name="image_name" class="form-control" style="background-color: rgb(49, 165, 93); color: azure;" required>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Submit" class="btn btn-success btn-block">
                    </div>
                    <div class="text-center" style="color: red;">
                        <strong>Instructions:</strong><br>
                    </div>
                     <div class="text-center">
                        Only upload files with extensions ".jpg"
                    </div>
                    <div class="text-center">
                        Upload image in good lighting and uniform background
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if fileupload %}
<div class="container" id='myrow_result'>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Herb</th>
                        <th>Confidence Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, score in data.items() %}
                    <tr>
                        <td>{{ name }}=</td>
                        <td>{{ score*100 }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 text-center">
            <img src="/static/upload/{{ image_filename }}" alt="uploaded image" class="img-fluid" style="max-width: 100%;">
        </div>
    </div>
</div>

{% endif %}

{% if extension %}
<div class="container" id="myrow_result">
    <div class="row">
        <div class="col-12">
            <p class="text-danger">Invalid Extension!</p>
            <p>Extension should be jpg</p>
        </div>
    </div>
</div>
{% endif %}

<style>
    #myrow {
        background-color: rgb(205, 205, 205);
        padding: 3%;
    }

    #myrow_result {
        background-color: rgb(205, 205, 205);
        padding: 5%;
        align-content: center;
    }
</style>

{% endblock%}
